

.sobre-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 40px 60px;
}

.sobre-foto-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-foto {
  width: 390px;
  height: 630px;
  object-fit: cover;
  border: 2px solid #c65d3d;
  border-radius: 220px;
}

.sobre-texto-area {
  max-width: 750px;
  color: #c65d3d;
}

.voltar-home {
  color: #c65d3d;
  text-decoration: underline;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 30px;
  transition: 0.3s;
}

.voltar-home:hover {
  transform: scale(1.05);
}

.sobre-texto-area h1 {
  font-family: "Cormorant", serif;
  font-size: 95px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 18px;
}

.subtitulo {
  font-size: 15px;
  letter-spacing: 6px;
  margin-bottom: 35px;
}

.sobre-texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 35px;
}

.sobre-texto p {
  font-size: 17px;
  line-height: 1.8;
}

.sobre-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.sobre-card {
  flex: 1;
  min-width: 250px;
  border: 1.5px solid #c65d3d;
  border-radius: 28px;
  padding: 24px;
}

.sobre-card h2 {
  font-family: "Cormorant", serif;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 15px;
}

.sobre-card ul {
  list-style: none;
  padding: 0;
}

.sobre-card li {
  font-size: 16px;
  line-height: 1.8;
}

.sobre-links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sobre-links a {
  color: #c65d3d;
  text-decoration: underline;
  display: inline-block;
  width: fit-content;
  font-size: 17px;
}

@media (max-width: 1100px) {
  .sobre-container {
    flex-direction: column;
    gap: 40px;
    padding: 30px 20px;
  }

  .sobre-foto {
    width: 300px;
    height: 500px;
    border-radius: 170px;
    position: relative;
  }

  .sobre-texto-area h1 {
    font-size: 68px;
  }

  .voltar-home {
  position: absolute;
  top: 20px;
  left: 20px;

  color: #c65d3d;
  text-decoration: none;
  font-size: 14px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);

  padding: 6px 12px;
  border-radius: 20px;

  transition: 0.3s;
}

.voltar-home:hover {
  transform: scale(1.05);
}
}

@media (max-width: 768px) {
  .sobre-foto {
    width: 250px;
    height: 410px;
    border-radius: 140px;
    position: relative;
  }

  .sobre-texto-area h1 {
    font-size: 50px;
  }

  .subtitulo {
    font-size: 13px;
    letter-spacing: 4px;
  }

  .sobre-texto p,
  .sobre-card li,
  .sobre-links a {
    font-size: 15px;
  }

  .voltar-home {
  position: absolute;
  top: 20px;
  left: 20px;

  color: #c65d3d;
  text-decoration: none;
  font-size: 14px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);

  padding: 6px 12px;
  border-radius: 20px;

  transition: 0.3s;
}

.voltar-home:hover {
  transform: scale(1.05);
}
}
